/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  user-select: none;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #ffdede, #ffeaea);
}
